// src/components/Header.module.scss
.header {
  background-color: #f8f9fa;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  h1 {
    margin: 0;
    margin-bottom: 1rem;
    font-family: KaiTi;
    font-size: 3rem;
    color: orange;
  }

  nav {
    ul {
      list-style-type: none;
      padding: 0;
      margin: 0;
      overflow: hidden;
      background-color: #333;
      display: flex;
      border-radius: 20px;

      li {
        margin-right: 1rem;
        float: left;
        a {
          display: block;
          width: 100px;
          color: white;
          padding: 14px 16px;
          line-height: 45px;
          text-decoration: none;
          text-align: center;
          font-size: 15px;
          &:hover {
            text-decoration: underline;
            background-color: #111;
          }
        }
      }
    }
  }
}
