// components/Loading.scss
.loadingPage {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
}

.loadingTop {
  display: none;
}

.loadingCenter {
  position: fixed;
  left: 50%;
  top: 50%;
  z-index: 11;
  transform: translate(-50%, -50%);
}

.loading {
  z-index: 1;
  border: 16px solid #f3f3f3; /* 使用正确的单位 */
  border-radius: 50%;
  border-top: 16px solid #fedc00; /* 使用正确的单位 */
  width: 80px; /* 使用正确的单位 */
  height: 80px; /* 使用正确的单位 */
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
  margin: auto;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}