// src/components/SearchBar.scss
.search-bar {
  position: relative;
  display: flex;
  top: 20px;

  .search-input {
    padding: 15px;
    border: 2px solid #ccc;
    border-radius: 10px;
    width: 100%;
    height: 100%;
  }

  .search-results {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border-top: none;
    list-style: none;
    margin: 0;
    padding: 0;

    .search-result-item {
      padding: 8px;
      cursor: pointer;
      text-align: left;
      width: 100%;
      text-decoration: none;
      color: #333;
      background-color: #fff;

      &:hover {
        background-color: rgba(121, 116, 116, 0.658);
      }
    }
  }
}