.LoginPage {
    display: flex;
    justify-content: center; /* 水平居中 */
    align-items: center; /* 垂直居中 */
    height: 15vh; /* 使div的高度占满整个视口高度 */
  }
  
  input[type="username"] {
    width: 48%;
    height: 30%;
    border-radius: 50px;
    border-color: black;
    border-width: 1px;
    padding: 6px;
    font-size: 16px;
  }
  
  input[type="password"] {
    width: 50%;
    height: 30%;
    border-radius: 50px;
    border-color: black;
    border-width: 1px;
    padding: 6px;
    font-size: 16px;
  }
  
  button {
    background-color: #4169E1;
    color: white;
    border: none;
    border-radius: 50px;
    padding: 10px 20px;
    margin-left: 10px;
    font-size: 16px;
  }