.parking-lot-list-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  font-family: Arial, sans-serif;

  h1 {
    font-size: 24px;
    margin-bottom: 20px;
  }

  button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: #0056b3;
    }
  }

  p {
    font-size: 16px;
    margin-bottom: 10px;
  }

  .two-column-table {
    display: flex;
    justify-content: space-between;

    .column {
      height: auto;
      width: 48%; /* 每列占总宽度的 48% */
      margin: 0 1%; /* 每列左右各 1% 的间距 */

      table {
        width: 100%;
        border-collapse: collapse;

        th, td {
          padding: 8px;
          text-align: left;
          border: 1px solid #ddd;
        }

        th {
          background-color: #f2f2f2;
        }
      }
    }

    .vertical-divider {
      width: 2px;
      background-color: #ddd;
      height: 100%;
    }

    tr:nth-child(even) {
      background-color: #f9f9f9;
    }

    tr:hover {
      background-color: #e3f2fd;
    }

    // 添加列间距
    td:nth-child(6) {
      padding-left: 1px; // 根据需要调整间距
    }

    .vertical-line {
      border-left: 1px solid #0d0d0d;
      width: 1px;
    }
  }

  .error {
    color: red;
    font-size: 16px;
    margin-top: 10px;
  }

  .view-count {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  }
}