// src/pages/ParkingLotMap.scss

.ParkingLotMap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vh;
  height: 100%;
  padding: 20px; // 增加一些内边距，使内容不紧贴边缘
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px; // 增加水平内边距，使内容在小屏幕上更舒适
}

.map-container {
  width: 100%;
  height: 600px;

  @media (max-width: 768px) {
    height: 400px; // 在平板和手机上减小地图高度
  }
}

.marker-circle {
  width: 20px;
  height: 20px;
  background-color: red;
  border-radius: 50%;
}

.info-window-content {
  text-align: center;
}

// 响应式设计
@media (max-width: 1200px) {
  .ParkingLotMap {
    width: 100%;
  }

  .container {
    max-width: 100%;
  }
}

@media (max-width: 768px) {
  .ParkingLotMap {
    padding: 10px; // 在平板和手机上减少内边距
  }

  .container {
    padding: 0 10px; // 减少水平内边距
  }

  .map-container {
    height: 400px; // 再次确认地图高度
  }
}

@media (max-width: 480px) {
  .ParkingLotMap {
    padding: 5px; // 在手机上进一步减少内边距
  }

  .container {
    padding: 0 5px; // 进一步减少水平内边距
  }

  .map-container {
    height: 300px; // 在手机上进一步减小地图高度
  }
}