.ParkingSpacePage {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  font-family: Arial, sans-serif;

  p {
    font-size: 16px;
    margin-bottom: 10px;
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;

    label {
      font-size: 16px;
      margin-bottom: 10px;
    }

    input {
      padding: 10px;
      font-size: 16px;
      border: 1px solid #ccc;
      border-radius: 5px;
      margin-bottom: 10px;
    }

    button {
      padding: 0.5rem 1rem;
      font-size: 16px;
      background-color: #007bff;
      color: white;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      transition: background-color 0.3s ease;

      &:hover {
        background-color: #0056b3;
      }
    }
  }

  table {
    width: 100%;
    max-width: auto;
    border-collapse: collapse;
    margin-top: 20px;

    th, td {
      padding: 12px;
      text-align: left;
      border-bottom: 1px solid #ddd;
    }

    th {
      background-color: #f2f2f2;
      font-weight: bold;
    }

    tr:nth-child(even) {
      background-color: #f9f9f9;
    }

    tr:hover {
      background-color: #e3f2fd;
    }

    // 添加列间距
    td:nth-child(4) {
      padding-left: 2px; // 根据需要调整间距
    }

    .vertical-line {
      border-left: 1px solid black; /* 将切割线颜色设置为黑色 */
      width: 1px;
    }
  }

  .error {
    color: red;
    font-size: 16px;
    margin-top: 10px;
  }
}