.parking-lot-list-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;

  button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: #0056b3;
    }
  }

  .two-column-table {
    display: flex;
    justify-content: space-between;
  
    .column {
      height: auto;
      width: 100%;
      margin: 0 2%; /* 每列左右各 2% 的间距 */
  
      table {
        border-collapse: collapse;
  
        th, td {
          padding: 8px;
          text-align: left;
          border: 1px solid #ddd;
        }
  
        th {
          background-color: #f2f2f2;
        }
      }
    }
  
    .vertical-divider {
      width: 2px;
      background-color: #ddd;
      height: 100%;
    }

    tr:nth-child(even) {
      background-color: #f9f9f9;
    }

    tr:hover {
      background-color: #e3f2fd;
    }

    // 添加列间距
    td:nth-child(6) {
      padding-left: 1px; // 根据需要调整间距
    }

    .vertical-line {
      border-left: 1px solid #0d0d0d;
      width: 1px;
    }
  }
}