.App {
  text-align: center;
}

h1 {
  user-select: none; /* 禁止文字选择  */
  font-family: 'KaiTi';
  font-weight: bolder;
  color: orange;
}

.App-logo {
  top: 12vmin;
  height: 25vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
    -webkit-user-drag: none; /* 禁止图片拖动 */
  }
}

.App-header {
  background-color: #282c34;
  min-height: 1vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* 自动轮播样式 */
.banner-container {
  width: 1200px;
  height: 400px;
  /* 轮播图居中 */
  margin: 1rem auto;
  /* 隐藏超出展示容器的内容 */
  overflow: hidden;
  position: relative;
}

.banner-img-container {
  width: 6000px; // 5张图片，每张1200px
  height: 400px;
  overflow: hidden;
  position: absolute;
  /* 开启弹性盒，让图片横向排列 */
  display: flex;
  animation: run 10s ease infinite;
}

.banner-img-container img {
  width: 1200px;
  height: 100%;
}

/* 动画关键帧 */
@keyframes run {
  0%, 10% {
    transform: translateX(0);
  }
  20%, 30% {
    transform: translateX(-1200px);
  }
  40%, 50% {
    transform: translateX(-2400px);
  }
  60%, 70% {
    transform: translateX(-3600px);
  }
  80%, 90% {
    transform: translateX(-4800px);
  }
  100% {
    transform: translateX(0);
  }
}
